

.navbar{
    position: fixed;
    background-color: #b79d7b;
    transition: background-color 0.4s ease , padding 0.4s ease;

}
.navbar.scrolled{
    background-color: rgba(1, 1, 148,0.1);
    transform: translateY(-100%);
    transition: 0.5s;
    padding: 0.5 2rem;
}
